ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

li {
    padding: 95px;
    width: 300px;
    max-width: 200px;
    max-height: 800px;
}

.details {
    padding: 1rem;
    width: 80%;
    height: 100%;
    box-shadow: 5px 5px 20px #101010;
    align-items: center;
}

.details > image {
    width: 10%;
    height: 10%;
}

.details h3 {
    margin: 0;
    padding: 5px;
}

.details p {
    margin: 0;
    padding: 4px;
}

.details h2 {
    margin: 0;
}

.details article {
    padding: 2px;
}
